@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
:root{
    --variable-color-ppal:#EE457A;
    --variable-color-sec: #FFFFFF;
    --variable-color-texto:#616161;
    --variable-ancho-ppal:1200px;
    --variable-alto-header: 100px;
}  

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 20px;
    height: 120vh;  /*es solo para prueba del scroll, dsps vovler a 100*/
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
}

header{
    width: 100%;
    height: var(--variable-alto-header);

    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;  /*posicionamiento fijo (absoluto) */
    top:0;         /*top acompaña a fixed, significa que quede arriba c/r al browser */

    background-color: var(--variable-color-sec);
    box-shadow: 0px 10px 15px -3px rgb(214, 204, 204);
}

nav{
    width: var(--variable-ancho-ppal);
    display: flex;
    justify-content: end;
}

ul {
    display: inline;
    list-style-type: none;     /*saca viñeta  a la lista*/
}

li {
    float: left;
    display: flex;
    text-align: center;
    justify-content: center;

    margin: 10px;
    padding: 10px 15px;
    border:1px solid var(--variable-color-ppal);
    border-radius: 40px;
}
 li:hover{
    background-color: var(--variable-color-ppal);
 }

a{
    font-size: 0.7rem;
    text-decoration: none;
    color: var(--variable-color-texto);
}
a:hover{
    color: white;
    font-weight: bold;
}

/*******************************************************************/
/* ---- media query HEADER -----------------*/
@media (width<=900px) {
    header{
      display: none;
    }
    main{
        margin-top: 30px;
    }
}
/*******************************************************************/


/*----------------------- << MAIN >> ------------------------*/
main{
    width: 90%;
    height: 80%; /*veerr*/
    background-color: var(--variable-color-sec);
   
    margin-top: calc( var(--variable-alto-header) + 30px);  /*la suma del margin del header + margin para que se vea la sombra*/
    margin-bottom: 30px;
    border: 1px solid gray; /*dsps borrar, es solo de guía*/
}

/*-----  main - HOLA  -----*/
.cont-hola{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hola-texto, .hola-texto-h3, .hola-texto-h1, .hola-texto-p, .hola-btn{
    text-align: center;
    margin: 20px 10px;
}

.hola-texto-h3{
    font-size: 1.5rem;
}
.hola-texto-h1{
    color: var(--variable-color-ppal);
    font-size: 2.2rem;
}
.hola-texto-p{
    color: var(--variable-color-texto);
    font-size: 0.8rem;
}
.hola-btn{
    margin: 10px;
    padding: 10px 15px;
    border:1px solid var(--variable-color-ppal);
    background-color: var(--variable-color-ppal);
    color: white;
    font-weight: bold;
    border-radius: 40px;
}

.hola-img{
    width: 90%;
    margin: 40px 10px;
    border: 1px solid black;
}



/*----------------------- << FOOTER >> -----------------------*/
footer{
    width: 100%;
    height: 100px;
    background-color: var(--variable-color-ppal)
}





/*******************************************************************/
/* ---- media query MAIN -----------------*/
@media(650px <= width <=900px){
    main{
        Width: 90%;
        height: 80%;
    }
}

@media(width>900px ){
    main{
        width: var(--variable-ancho-ppal);
        height: 80%;
    }
}
/*******************************************************************/
