@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
:root{
    --variable-color-ppal:#EE457A;
    --variable-color-sec: #FFFFFF;
    --variable-color-ter:#F6F7FB;

    --variable-color-texto:#616161;

    --variable-ancho-ppal:1300px;
    --variable-alto-header: 100px;
}  

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 20px;
    height: 100vh;
}

body{
    height: 100%; /* 100% del padre, que es el html*/
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
}


/*----------------------- << HEADER >> ------------------------*/
header{
    width: 100%;
    height: var(--variable-alto-header);

    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;  /*posicionamiento fijo (absoluto) */
    top:0;         /*top acompaña a fixed, significa que quede arriba c/r al browser */

    background-color: var(--variable-color-sec);
    box-shadow: 0px 10px 15px -3px rgb(214, 204, 204);
}

.nav{
    width: var(--variable-ancho-ppal);
    display: flex;
    justify-content: end;
}

ul{
    display: inline;
    list-style-type: none;     /*saca viñeta  a la lista*/
}

.li-header {
    float: left;
    display: flex;
    text-align: center;
    justify-content: center;

    margin: 10px;
    padding: 10px 15px;
    border:1px solid var(--variable-color-ppal);
    border-radius: 40px;
}
.li-header:nth-child(4){
    background-color: var(--variable-color-ppal);
}

.li-header:nth-child(4):hover{
    opacity: 0.8;
}


.li-header:hover{
    background-color: var(--variable-color-ppal);
 }

a{
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--variable-color-texto);
}
.a-header:hover{
    color: white;
    font-weight: bold;
}

/*******************************************************************/
/* ---- media query HEADER -----------------*/
@media (width<=1100px) {
    header{
      display: none;
    }
}
/*******************************************************************/


/*----------------------- << MAIN >> ------------------------*/

/*--------------------  main - HOLA  -----------------------*/
.seccion-hola{
    width: 100%;
    background-color: var(--variable-color-sec);
    margin-top: calc( var(--variable-alto-header) + 90px);  /*la suma del margin del header + margin para que se vea la sombra*/
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - var(--variable-alto-header) - 38px);
}
.cont-hola{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.hola-texto, .hola-texto-h3, .hola-texto-h1, .hola-texto-p, .hola-btn{
    text-align: center;
}
.hola-texto{
    padding: 0px 10px;
}
.hola-texto-h3{
    font-size: 1.5rem;
}
.hola-texto-h1{
    color: var(--variable-color-ppal);
    font-size: 2.7rem;
}
.hola-texto-p{
    width: 90%;
    margin: 40px 10px;
    color: var(--variable-color-texto);
    font-size: 1rem;
}
.hola-btn{
    margin: 10px;
    padding: 15px 25px;
    border:1px solid var(--variable-color-ppal);
    background-color: var(--variable-color-ppal);
    color: white;
    font-size: 0.8rem;
    border-radius: 40px;
}
.hola-btn:hover{
    opacity: 0.8;
}

.hola-img{
    width: 95%;
    margin: 40px 10px;
    border: 1px solid black;
}

/*******************************************************************/
/* ---- media query  main - HOLA -----------------*/

@media(width>550px ){ /*todavía esta en CELU, pero igual hay un pequeño cambio*/
    .hola-texto-h1{         /*mi nombre en main-hola*/
        font-size: 2.9rem;
    }
    .hola-texto-p,.hola-img{ /*quedan fijos, antes era 80%*/
        width: 500px;
    }
}

@media(width>1100px ){  /*para tablet y pc*/
    .seccion-hola{
        width: 100%;  /*va creciendo hasta el max-width*/
        max-width: var(--variable-ancho-ppal);

        margin-top: calc( var(--variable-alto-header) + 40px);  /*la suma del margin del header + margin para que se vea la sombra*/
        margin-bottom: 40px;
    }
    .cont-hola{
        width: 100%;
        padding: 0px 15px;
        display: flex;
        flex-direction:row;
        justify-content: space-between;
    }
    .hola-texto, .hola-texto-h3, .hola-texto-h1, .hola-texto-p, .hola-btn{
        text-align:left;
    }
}
/*******************************************************************/


/*-------------------- COMÚN A TÍTULOS Y SUBTÍTULOS ------------------*/
.cont-texto{ /*para todos los cont-titulos-h1 y p iguales*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.texto-h1{   /*para todos los titulos iguales*/
    color: var(--variable-color-ppal);
    font-size: 2.5rem;
}
.texto-p{  /*para todos los textos debajo de "texto-h1"*/
    width: 80%;
    max-width: 700px;
    padding: 30px 0px 10px 0px;
    text-align: center;
}
@media(width>550px ){ /*todavía esta en CELU, pero igual hay un pequeño cambio*/
    .texto-h1{         /*mi nombre en main-hola*/
        font-size: 2.9rem;
    }
}
/* ------------------ */


/*--------------------  main - conocimientos  -----------------------*/
.sección-conociento{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--variable-color-ter);
    padding: 80px 10px;

    scroll-margin-top: var(--variable-alto-header); /*al ir a la sección con un link, no quede muy arriba*/
}
   
.cont-conocim-lenguaje{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conocim-lenguaje{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 50%;
    height: 200px;
    margin: 10px;   
    border: 1px solid rgb(194, 187, 187);
    border-radius: 10px;
    background-color: #FFFFFF;
}
.conocim-lenguaje:hover{
    border-color: var(--variable-color-ppal);
    color: var(--variable-color-ppal);
}
.conocim-lenguaje-icn{
    width: 80px;
    margin: 10px;
}

/*******************************************************************/
/* ---- media query MAIN  - Conocimientos ---------------*/
@media(width >=550px){ /*para tablet*/

    .cont-conocim-lenguaje{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .conocim-lenguaje{
        width: 40%;
        max-width: 280px;
        height: 200px;
    }
}

@media(width >900px){ /*para pc*/
    .cont-conocim-lenguaje{
        max-width: calc(var(--variable-ancho-ppal) - 200px);
    }
    .conocim-lenguaje{
        width: 30%; 
        max-width: 300px;
        height: 250px;
    }
}
/*******************************************************************/

/*--------------------  main - alguien  -----------------------*/
.seccion-alguien{
    width: 100%;
    background-color: var(--variable-color-ppal);
    padding: 130px 0px;
    display: flex;
    justify-content: center; 
}
.cont-alguien{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alguien-img-comillas{
    width: 150px;
}
.alguien-texto{
    font-size: 1.6rem;
    text-align: center;
    margin: 70px 0px;
    color: white;
}

.alguien-texto-p{
    font-size: 1.9rem;
    text-align: center;
    margin: 50px 0px;
    color: white;
}

/*******************************************************************/
/* ---- media query MAIN  - Conocimientos ---------------*/
@media(width >900px){ /*para pc*/
    .cont-alguien{
        max-width: calc(var(--variable-ancho-ppal) - 200px);
    }
}

/*******************************************************************/




/*--------------------  main - proyectos  -----------------------*/
.seccion-proyectos{
    width: 100%;
    background-color: var(--variable-color-sec);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 10px;

    scroll-margin-top: var(--variable-alto-header);
}

.cont-proyectos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.proyecto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
    padding: 10px;  
    margin: 20px 0px;
    border: 1px solid rgb(194, 187, 187);
    border-radius: 10px;
    background-color: #FFFFFF;
}
.proyecto:hover{
    border-color: var(--variable-color-ppal);
    color: var(--variable-color-ppal);
}

a .proyecto{
    text-decoration: none;
    color: #2e2e31;
}

.proy-img{
    width: 100%;
    aspect-ratio: 4/3;
}
.proy-p{
    height: 10%;
    margin: 10px 0px;
    font-size: 1.3rem;
    font-weight: bold;
}

/*******************************************************************/
/* ---- media query MIS PROYECTOS ---------------*/
@media(width >=600px){ /*para tablet*/

    .cont-proyectos{
        width: 100%; 
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
    }
    .proyecto{
        width: calc(100%/2 - 10px*2); 
        margin: 10px;
    }
    .proy-p{
        font-size:0.9rem;
    }
}

@media(width >900px){ /*para pc*/
    .cont-proyectos{
        max-width: var(--variable-ancho-ppal);
    }
    .proyecto{
        width: calc(100%/3 - 10px*2); 
    } 
}
/*******************************************************************/


/*--------------------  main - contáctame/escíbeme  -----------------------*/

.cont-contactame-escribeme{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding: 20px
}

.cont-contactame, .cont-escribime{
    padding-bottom: 30px;
    padding-top: 20px;
}

.izq{
    align-items: flex-start;
    width: 95%;
    text-align: left;
    margin: 5px;
}

.redes{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 1rem;
}
.redes:hover{
    border-color: var(--variable-color-ppal);
    color: var(--variable-color-ppal);
}


/*iconos de las redes sociales - TAMBIÉN ESTAÉ EN FOOTER*/
.fa-linkedin-in,.fa-envelope,.fa-github-alt,.fa-twitter{
    color: #EE457A;
    background-color: var(--variable-color-sec);
}

.fa-twitter::before{
    vertical-align: center;
}
.fa-twitter:hover{
    color: white;
    background-color: #EE457A;
}
.fa-github-alt:hover{
    color: white;
    background-color: #EE457A;
}
.fa-envelope:hover{
    color: white;
    background-color: #EE457A;
}
.fa-linkedin-in:hover{
    color: white;
    background-color: #EE457A;
}
.iconos-footer{   
        width: 2.3rem;
        height: 2.3rem;
        font-size: 1.5rem;

        border: 1px solid white;
        border-radius: 50%;
}
i.fa-brands,i.fa-solid{
    display: flex;
    align-items: center;
    justify-content: center;
}


/*------------ escribeme -----------------*/
.formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cont-nombre-apellido{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cont-label-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}
.form_input:nth-of-type(1){
    margin-right: 5px;
}
label{
    margin-bottom: 10px;
}
input{
    height: 50px;
    border-radius: 25px;
}
.form_input{
    border: 1px solid rgb(194, 187, 187);
    background-color: var(--variable-color-ter);
    padding-left: 15px;
}
textarea{
    border-radius: 10px;
    margin-bottom: 10px;
}

/*******************************************************************/
/* ---- media query   CONTÁCTAME / Escribime ---------------*/
@media(width >=550px){ /*para tablet*/
    .redes-sociales{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .redes{
        width: 45%;
    }
    .cont-nombre-apellido{
        flex-direction: row;
    }
  
}

@media(width >=900px){ /*para tablet*/
    .seccion-contactame{
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: var(--variable-color-ter);
    }
    .cont-contactame-escribeme{
        width: 90%;
        max-width: var(--variable-ancho-ppal);
        flex-direction: row;
        border: 1px solid rgb(194, 187, 187);
        border-radius: 10px;
        background-color: #FFFFFF;
        margin: 200px 0px;
    }
   
    .redes-sociales{
        width: 100%;
        min-width: 300px;
        display: flex;
        flex-direction: column;
    }

    .redes{
        width: 90%;
    }
  
    .cont-contactame, .cont-escribime{
        width: 50%;
        height: 650px;
    }
}




/*----------------------- << FOOTER >> -----------------------*/
footer{
    width: 100%;
    background-color: var(--variable-color-ppal);
    padding: 100px 10px;
    text-align: center;
}

.ul-footer{
    display: inline;
    display: flex;
    justify-content: center;
    
}
.li-footer{
    margin: 10px;
}

.a-footer-redes{
    width: 60px;
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}
.h3-footer,.a-footer{
    color: white;
    font-size: 1.1rem;
}

/*LOS ESTILOS DE LOS ICONOS DE redes sociales 
ESTAN MAS ARRIBA EN "CONTÁCTAME"*/

.icocor2 { /* icono del corazón*/
    font-size: 20px;
}
/*******************************************************************/
/* ---- media query FOOTER -----------------*/
@media (width<=700px) {
    .nav-footer{
      display: none;
    }
}
/*******************************************************************/
